# Port
PORT=3000

# Database URL
DATABASE_URL=mongodb://localhost:27017/rottentomatoes-rest

# Resend API Key
RESEND_API_KEY=resend-api-key

# JWT Secret
JWT_SECRET=jwt-secret
JWT_VERIFICATION_SECRET=jwt-verification-secret

# Firebase Admin SDK
FIREBASE_PROJECT_ID=firebase-project-id
FIREBASE_PRIVATE_KEY=firebase-private-key
FIREBASE_CLIENT_EMAIL=firebase-client-email
FIREBASE_BUCKET=firebase-bucket